@model SpringChickens.ViewModels.Admin.CalendarManagementViewModel;
@{
    ViewData["Title"] = "Upcoming Events";
    ViewData["ShowOutdated"] = Model.ShowOutdatedEvents;
    ViewData["routeController"] = "Home";
}


<div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-4 border-right">
        <partial name="_CalendarPartial" model="Model.CalendarVM" view-data="ViewData" />
    </div>
    <div class="col-md-4">
        <partial name="_CalendarEventListPartial" model="Model.AllCalendarEvents" view-data="ViewData" />
    </div>
</div>

