@model SpringChickens.ViewModels.HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}


<div class="row">

    <div class="col-md-6">
        <div class="text-center">
            <h1 class="display-6">@Model.HomeTextTitle</h1>
            <p>@Model.HomeTextBody</p>
        </div>
    </div>

    <div class="col-md-6">
        <partial name="_HomeCarouselPartial" model="Model.CarouselItems" />
    </div>

    
</div>

