@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using SpringChickens.ViewModels;
@model DogsViewModel
@{
    ViewData["Title"] = "Doggos";
}

@{
    foreach (var dog in Model.Dogs)
    {
        <div class="card">
            <div class="row card-body">
                <div class="col-sm">

                    <img src=@dog.PhotoName class="img-fluid" />

                </div>
                <div class="col-sm">
                    <h1 class="display-4">@dog.Title</h1>
                    <p class="text-body">
                        @dog.MainBodyText
                    </p>

                </div>
            </div>
        </div>

        <br />
    }
}




