@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "New Post";
}
@model FileUploadViewModel

<div class="row">
    <div class="col-sm">

        <h4>Upload File</h4>

        <form asp-controller="FileUpload" asp-action="SingleFile" enctype="multipart/form-data" method="post">

            <div class="form-group">
                <label>Title:</label>
                <input class="form-control" type="text" placeholder="Title.." asp-for="Title" />
            </div>

            <div class="form-group">
                <label>Description:</label>
                <textarea class="form-control" type="text" placeholder="Description.." asp-for="Description" rows="4"></textarea>
            </div>

            <div class="form-group">
                <label>File to upload:</label>
                <input class="form-control-file" type="file" name="file" asp-for="File" />
            </div>

            <div class="form-group">
                <label>Select trip to add to:</label>
                <select class="form-control-range" required asp-for="SelectedTripId">
                    @foreach (var key in Model.Trips.Keys.OrderBy(k => k))
                    {
                        <option value="@key">@Model.Trips[key]</option>
                    }
                </select>
            </div>
            

            <button class="btn btn-primary mt-3" type="submit">Submit</button>

        </form>

    </div>
</div>