@model SpringChickens.ViewModels.Reset.ChangePasswordViewModel;
@{
    ViewData["Title"] = "Change Password";
}

<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
        <form asp-controller="Reset" asp-action="ChangePassword" asp-route-tokenString="@Model.TokenString">
            <div class="form-group">
                <label>New password</label>
                <input class="form-control" required type="password" placeholder="" asp-for="NewPassword" />
                <small class="text-danger">@Model.ErrorMessage</small>
            </div>
            <input type="submit" class="btn btn-primary" />
        </form>
    </div>
</div>

