
@{
    ViewData["Title"] = "Email Sent";
}

<h1 class="text-center">Email Sent.</h1>
<br/>
<h2 class="text-center">An email has been sent to the address associated with that account. You can leave this page.</h2>

