
@{
    ViewData["Title"] = "Email Sent";
}

<h1 class="text-center">Password changed</h1>
<br/>
<h2 class="text-center">Your password has been changed, you can return to the home page <a asp-controller="Home" asp-action="Index">here.</a></h2>

