
@{
    ViewData["Title"] = "Email Sent";
}

<h1 class="text-center">Email Sent.</h1>
<br/>
<h2 class="text-center">An email has been sent to that address with the usernames of the associated accounts.</h2>

