@model SpringChickens.ViewModels.Admin.NewEventViewModel;
@{
    ViewData["Title"] = "New Calendar Event";
}

<div class="row">
    <div class="col-md-3">
        <!-- Blank for spacing -->
    </div>

    <div class="col-md-6">
        <!-- Middle of page -->

        <form asp-controller="Admin" asp-action="NewCalendarEvent">

            <!-- Title -->
            <div class="form-group">
                <label>Event Title</label>
                <input type="text" asp-for="Title" class="form-control" required placeholder="Event Title..." />
            </div>

            <!-- Date picker -->
            <div class="form-group">
                <label>Date</label>
                <input type="date" asp-for="Date" asp-format="{0:dd-MM-yyyy}" class="form-control" required />
            </div>

            <input type="submit" class="btn btn-success" value="Create Event" />
            <small class="text-danger">@Model.ErrorMessage</small>
        </form>

    </div>
</div>

